#notifications.rounded
  .notification-white.rounded
  #notification-text.rounded
#start_menu
  .start_menu_block.top_block
  .start_menu_block.left_block.side_cone
  .start_menu_block.right_block.side_cone
  .start_menu_block.bottom_block  
.start_menu_text
  Simon Says
#play_button.rounded
  PLAY
