/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: black;
}

.rounded {
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
}

#gameBoard {
  position: relative;
  width: 700px;
  height: 470px;
  margin: auto;
  margin-top: 30px;
  background-color: #a8a4a4;
  display: none;
}

.gameBoard-white {
  height: 90%;
  width: 90%;
  margin: auto;
  background: white;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32% 0 0 -45%;
  z-index: 1;
}

#gameBoard-text {
  height: 75%;
  width: 75%;
  margin: auto;
  background-color: #a8a4a4;
  z-index: 10;

  font-size: 21em;
  text-align: center;
  font-family: helvetica;
  color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -27% 0 0 -38%;
}

#start_menu {
  width: 80%;
  min-width: 500px;
  height: 500px;
  margin: auto;
  background-color: black;
}

.start_menu_block {
  height: 40%;
  width: 40%;
  position: relative;
}

.side_cone {
  border-bottom: 70px solid transparent;
  border-top: 70px solid transparent;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.top_block {
  margin: auto;
  top: 30px;
  border-top: 100px solid #92fc9d;

  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.left_block {
  top: -210px;
  left: 11%;
  border-left: 100px solid #ffff87;
}

.right_block {
  top: -545px;
  right: -36%;
  border-right: 100px solid #fc8888;
}

.bottom_block {
  margin: auto;
  bottom: 790px;
  border-bottom: 100px solid #a5a5ff;

  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.start_menu_text {
  position: relative;
  top: -350px;
  min-width: 500px;
  height: 70px;
  color: #d1caca;
  text-shadow: 0px 1.5px #919191;
  text-align: center;
  font-size: 3.5em;
  width: 400px;
  margin: 0px auto
}

#play_button {
  margin: auto;
  margin-top: 55px;
  text-align: center;
  font-size: 3em;
  width: 240px;
  height: 75px;
  position: relative;
  top: -340px;
  background-color: white;
  color: black;
}

