/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.border {
  border: red solid 1px;
}

.rounded {
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
}

#notifications {
  position: relative;
  width: 700px;
  height: 500px;
  margin: auto;
  margin-top: 30px;
  background-color: #a8e3b8;
  display: none;
}

.notification-white {
  height: 90%;
  width: 90%;
  margin: auto;
  background: white;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32% 0 0 -45%;
  z-index: 1;
}

#notification-text {
  height: 75%;
  width: 75%;
  margin: auto;
  background-color: #a8e3b8;
  z-index: 10;

  font-size: 21em;
  text-align: center;
  font-family: helvetica;
  color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -27% 0 0 -38%;
}
